ppl/data/bace809_3d_fp_5fp_200c_05prune_6kcal_no_Hs_june_concated_splited.csv filter=lfs diff=lfs merge=lfs -text
ppl/data/bace810_pH_74_s1_to_s13_reset_taut_prot_states_rm_duplicates_s10_reset_511_confs_200_prune05_6kcal.sdf filter=lfs diff=lfs merge=lfs -text
ppl/data/bace809_200conf_descriptors_and_split.csv filter=lfs diff=lfs merge=lfs -text
ppl/kid_calculator/bace809_200confs.sdf filter=lfs diff=lfs merge=lfs -text
ppl/data/*.csv filter=lfs diff=lfs merge=lfs -text
ppl/kid_calculator/bace809_200confs_ls.sdf filter=lfs diff=lfs merge=lfs -text
ppl/kid_calculator/bace809_200confs_sch.sdf filter=lfs diff=lfs merge=lfs -text
